.headerDiv {
  outline-width: 0.5px;
  outline-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerImage {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30vw;
  margin-top: -1%;
  margin-bottom: -1%;
}
