body {
  font-family: "Open Sans" !important;
  font-size: 18px;
}

.button {
  width: 30%;
  background-color: #15305d;
  border-color: #15305d;
  color: white;
  height: 30pt;
}

.campusContainer {
  width: 60%;
}

.container {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
}

.formContainer {
}

.loginBox {
  text-align: center;
}

.loginCampus3 {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
 /* -10 and 5 */
.logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
}

hr {
  width: 70%;
}

.image {
  width: 50%;
  height: 100vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.parentDiv {
  display: flex;
  flex-direction: row;
}
