.BarDiv {
  text-align: center;
}

.BarDivTextReturningStudent {
  font-family: Arial;
  font-weight: lighter;
  font-size: small;
  position: relative;
  margin-right: 31%;
}

.BarDivTextStep {
  font-family: Arial;
  font-weight: lighter;
  font-size: small;
  position: relative;
  margin-left: 31%;
}

body {
  font-family: "Open Sans" !important;
  font-size: 18px;
}

.buttonBegin {
  height: 10%;
  opacity: 100%;
  border-color: #707070;
  width: 20%;
  background-color: #1c4285;
  color: white;
}

.buttonBeginText {
  font-style: Arial;
  font-weight: bold;
  font-size: 40px;
}

.buttonBegin:hover {
  background-color: #15305d;
  border-color: #15305d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonLogin {
  width: 20%;
  background-color: #1c4285;
  border-color: #1c4285;
  color: white;
}

.buttonLogin:hover {
  background-color: #15305d;
  border-color: #15305d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.campusContainer {
  width: 50%;
}

.container {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
}

.footer {
  position: relative;
  margin-top: 39.5%;
  height: 5.5vh;
  background-color: #15305d;
}

.footerText {
  margin-left: 5vw;
  color: white;
  font-family: Arial;
  font-size: 10px;
}

.forgottenPassword {
  text-decoration: none;
}

.forgottenPassword:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.formContainer {
}

.headerDiv {
  outline-width: 0.5px;
  outline-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerImage {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 20vw;
}

.headerHr {
  position: relative;
  margin-top: -0.5%;
  width: 99%;
}

.HrBar {
  position: relative;
  width: 17%;
}

.loginHr {
  width: 30%;
}

.image {
  width: 50%;
  height: 100vh;
}

label {
  padding-top: 10px;
  padding-right: 20px;
}

.loginBox {
  text-align: center;
}

.loginCampus3 {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.logo {
  position: relative;
  margin-top: -10%;
  margin-bottom: 5%;
  width: 40%;
}

.parentDiv {
  display: flex;
  flex-direction: row;
}

.SAPH1 {
  font-family: "Open Sans";
  color: #5a5a5a;
  font-weight: bold;
}

.SAPList {
  font-style: Arial;
  color: #5a5a5a;
  font-weight: lighter;
  list-style: none;
}

.welcomeBack {
  position: absolute;
  margin-top: 3%;
  height: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  outline-style: solid;
  outline-width: thin;
}

.welcomeBackBox {
  margin-top: 5%;
  margin-left: 5%;
}
