.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Parent {
  background-color: rgba(255, 255, 255, 1);
   width: 100%;
    margin : 0;
    padding: 0;
}

.Section {
  align-content: center;
}
.Progress {
  display: flex;
  justify-content: flex-end;
}
.bar {
  width: 20%;
}

.header {
  color: white;
  background-color: rgba(21, 48, 93, 1) !important;
}

hr {
  height: 4px;
  background-color: rgba(21, 48, 93, 1);
  /* border: 0; */
}

.pics {
  width: 309px;
  height: 210px;
  object-fit: cover;
}

.card {
  margin-right: 5px;
}
