.BarDiv {
  text-align: center;
}

.BarDivTextReturningStudent {
  margin-top: 2vh;
  font-family: Arial;
  position: relative;
  margin-right: 31%;
  color: #707070;
}

.BarDivTextStep {
  margin-top: 2vh;

  font-family: Arial;
  color: #707070;
  position: relative;
  margin-left: 31%;
}

.h2Size {
  font-size: 100%;
}

.HrBar {
  margin-top: -15vh;
  position: relative;
  width: 17%;
}

.hrBarLight {
  color: #7ecced;
}

.hrBarHeavy {
  color: #15305d;
}
