.arrowButton {
  margin-left: 2vw;
  font-size: 150%;
  width: 10vw;
  background-color: white;
  color: #15305d;
  border-color: #15305d;
}

.arrowButton:hover {
  background-color: #15305d;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.backButton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 150%;
  width: 10vw;
  background-color: white;
  color: #15305d;
  border-color: #15305d;
}

.backButton:hover {
  background-color: #15305d;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonBegin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  font-weight: bold;
  height: 10%;
  opacity: 100%;
  width: 20%;
  background-color: #15305d;
  color: white;
  border-color: #15305d;
}

.buttonBegin:hover {
  border-color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonsDiv {
  margin-bottom: -25%;
  padding-bottom: 10vh;
}

.cancelButton {
  border-color: transparent;
  background-color: transparent;
  border-style: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 150%;
  width: 10vw;
  color: black;
}

.cancelButton:hover {
  border-color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.checkBox2 {
  height: 3vh;
  width: 3vw;
  margin-left: -2.5%;
}

.contactUs {
  text-decoration: none;
}

.costH1 {
  text-align: right;
}

.declineButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  font-weight: bold;
  width: 10vw;
  background-color: white;
  color: #fe0000;
  border-color: #fe0000;
}

.declineButton:hover {
  background-color: #fe0000;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dynamicH1 {
  font-family: "Arial";
  font-size: 150%;
  color: #707070;
  font-weight: bold;
}

.dynamicH1Label {
  margin-left: 15%;
}

.enrollingModulesCheckBox {
  width: 30%;
  height: 5vh;
  border-radius: 50px;
}

.enrollingModulesCheckBox ::after {
  background-color: #15305d;
}

.fail {
  color: #fc0707;
  font-size: 120%;
}

.h1 {
  margin-left: 5%;
  font-family: "Arial";
  font-size: 120%;
  color: #707070;
  font-weight: 200;
}

.h3 {
  margin-left: 2.5%;
  font-family: "Arial";
  font-size: 120%;
  color: #707070;
  font-weight: bold;
}

.H1Blank {
  color: white;
}

.Left {
  margin-top: -10vh;
  margin-left: 20vw;
}

.leftDiv {
  color: #707070;
  display: inline-table;
  align-items: left;
  justify-content: center;
  width: 40%;
}

.nextButton {
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 2vw; */
  font-size: 150%;
  font-weight: bold;
  width: 10vw;
  background-color: #15305d;
  color: white;
  border-color: #15305d;
}

.nextButton:hover {
  border-color: white;
  background-color: #15305d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pass {
  color: #2ca800;
  font-size: 120%;
}

.passWithDistinction {
  color: #15305d;
  font-size: 120%;
}

.qualificationName {
  font-family: "Arial";
  font-size: 120%;
  color: #707070;
  font-weight: 150;
}

.qualificationNameLabel {
  margin-left: 2.5%;
}

.ReturningStudentWelcome2Buttons {
  text-align: center;
}

.ReturningStudentDiv {
  padding-top: 2.5%;
  margin-top: 2.5%;
  background-color: #f6f6f6;
  margin-left: 5%;
  margin-right: 5%;
}

.ReturningStudentDiv4 {
  background-color: #f6f6f6;
  margin-left: 5%;
  margin-right: 20%;
}

.ReturningStudentList {
  list-style: none;
}

.RightPostalCode {
  margin-left: 20%;
}

.rightDiv {
  color: #707070;
  margin-left: 17vw;
  display: inline-flex;
  width: 40%;
}

.secondH1 {
  margin-left: -2vw;
}

.submitButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  font-weight: bold;
  width: 10vw;
  background-color: #15305d;
  color: white;
  border-color: #15305d;
}

.submitButton:hover {
  border-color: white;
  background-color: #15305d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submitDeclineDiv {
  margin-top: 10%;
  margin-bottom: -25%;
  margin-left: 5%;
}

.welcomeBack {
  position: absolute;
  margin-top: 3%;
  height: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  outline-style: solid;
  outline-width: thin;
}

.welcomeBackBox {
  margin-top: 5%;
  margin-left: 5%;
}

.welcomeBackParagraph {
  font-size: 20px;
  margin-right: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.welcomeBackTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
