.arrowButton {
  font-weight: bold;
  font-size: 30px;
  width: 10vw;
  background-color: white;
  color: #15305d;
  border-color: #15305d;
}

.arrowButton:hover {
  background-color: #15305d;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.backButton {
  font-weight: bold;
  font-size: 30px;
  width: 10vw;
  background-color: white;
  color: #15305d;
  border-color: #15305d;
}

.backButton:hover {
  background-color: #15305d;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonBegin {
  font-weight: bolder;
  height: 10%;
  opacity: 100%;
  border-color: #707070;
  width: 20%;
  background-color: #1c4285;
  color: white;
}

.cancelButton {
  margin-left: 5vw;
  font-weight: bold;
  font-size: 30px;
  width: 10vw;
  background-color: white;
  color: #15305d;
  border-color: #15305d;
}

.cancelButton:hover {
  background-color: #15305d;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contactUs {
  text-decoration: none;
}

.costH1 {
  text-align: right;
}

.declineButton {
  font-size: 30px;
  font-weight: bold;
  width: 10vw;
  background-color: white;
  color: #fe0000;
  border-color: #fe0000;
}

.declineButton:hover {
  background-color: #fe0000;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.h1 {
  margin-left: 5%;
  font-family: "Arial";
  font-size: 30px;
  color: #707070;
  font-weight: 200;
}

.H1Blank {
  color: white;
}

.Left {
  margin-top: -10vh;
  margin-left: 20vw;
}

.leftDiv {
  color: #707070;
  display: inline-table;
  align-items: left;
  justify-content: center;
  width: 40%;
}

.nextButton {
  font-size: 30px;
  font-weight: bold;
  width: 10vw;
  background-color: #15305d;
  color: white;
  border-color: #15305d;
}

.nextButton:hover {
  background-color: #15305d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ReturningStudentWelcome2Buttons {
  text-align: center;
}

.ReturningStudentDiv {
  background-color: #f6f6f6;
  margin-left: 5%;
  margin-right: 5%;
}

.ReturningStudentDiv4 {
  background-color: #f6f6f6;
  margin-left: 5%;
  margin-right: 20%;
}

.ReturningStudentList {
  list-style: none;
}

.RightPostalCode {
  margin-left: 20%;
}

.rightDiv {
  color: #707070;
  margin-left: 17vw;
  display: inline-flex;
  width: 40%;
}

.secondH1 {
  margin-left: -2vw;
}

.submitButton {
  font-size: 30px;
  font-weight: bold;
  width: 10vw;
  background-color: #15305d;
  color: white;
  border-color: #15305d;
}

.submitButton:hover {
  background-color: #15305d;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submitDeclineDiv {
  margin-left: 5%;
}

.welcomeBack {
  position: absolute;
  margin-top: 3%;
  height: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  outline-style: solid;
  outline-width: thin;
}

.welcomeBackBox {
  margin-top: 5%;
  margin-left: 5%;
}

.welcomeBackParagraph {
  font-size: 20px;
  margin-right: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.welcomeBackTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
