/* body {
  font-family: "Segoe Ui" !important;
  font-size: 18px;
  color: black;
} */

.Footer {
  /* display: flex; */
  /* flex-direction: row; */
  background-color: rgba(21, 48, 93, 1);
  width: 100%;
  /* height: 150px; */
  
}
.QuickLinks {
  padding-top: 20pt;
  
  color: rgb(255, 255, 255);
  /* height: 200px; */
  
  
  /* font-style: normal; */
  /* font-weight: bold; */
  font-size: 7px;
}
.FollowUs {
  padding-top: 20pt;
  
  color: white;
  /* height: 200px; */
  
  
  /* font-style: normal; */
  /* font-weight: bold; */
  font-size: 7px;
}

.FindUs {
  padding-top: 20pt;
  
  color: white;
  /* height: 200px; */
  text-align: left;
  
  /* font-style: normal; */
  /* font-weight: bold; */
  
}
.Contactus {
  padding-top: 20pt;
  padding-left: 20pt;
  color: white;
  /* height: 200px; */
  
 
  /* font-style: normal; */
  /* font-weight: bold; */
  
}

.Icons {
  font-size: 20;
}
